body{
    margin: 0;
    font-family: Arial, sans-serif;
}
.sidebar{
    width: 200px;
    height: 100vh;
    background: #111;
    padding-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
}
.sidebar a{
    display: block;
    color: white;
    padding: 15px;
    text-decoration: none;
}
.sidebar a:hover{
    background: #333;
}
h1{
    margin-top: 60px;
    text-align: center;
}
.titulo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-top: 30px;
    margin-left: 50px;
}
.logo{
    width: 60px;
    height: auto;
}
.produtos-container{
    margin-left: 220px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    padding: 30px;
}
.produto{
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    text-align: center;
    transition: 0.25s ease;
    border: 1px solid #e6e6e6;
    cursor: pointer;

    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.produto:hover{
    transform: translateY(-6px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
.produto img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}
.dropdown{
    position: relative;
}
.dropdown-content {
    display: none;
    flex-direction: column;
    background: #222;
    position: relative;
    margin-left: 20px;
}
.dropdown-content a{
    padding: 10px 15px;
    color: #fff;
    font-size: 14px;
}
.dropdown-content a:hover {
    background: black;
}
.dropdown:hover .dropdown-content{
    display: flex;
}
.form-anuncio {
    max-width: 500px;
    margin: 50px auto;
    padding: 30px;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    gap: 18px; /* <<< espaçamento entre os campos */
}

.form-anuncio label {
    font-weight: bold;
    margin-bottom: 5px;
}

.form-anuncio input,
.form-anuncio textarea {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.form-anuncio textarea {
    resize: vertical;
    min-height: 100px;
}

.form-anuncio input[type="file"] {
    padding: 6px;
}

.form-anuncio button {
    margin-top: 10px;
    padding: 14px;
    background-color: #3483fa; /* azul estilo Mercado Livre */
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.form-anuncio button:hover {
    background-color: #2968c8;
}