body{
    margin: 0;
    font-family: Arial, sans-serif;
}
.sidebar{
    width: 200px;
    height: 100vh;
    background: #111;
    padding-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
}
.sidebar a{
    display: block;
    color: white;
    padding: 15px;
    text-decoration: none;
}
.sidebar a:hover{
    background: #333;
}
h1{
    margin-top: 60px;
    text-align: center;
}
.titulo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-top: 30px;
    margin-left: 50px;
}
.logo{
    width: 60px;
    height: auto;
}